@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Calendar Styles */
.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #2940D3;
  --rdp-background-color: #e7edff;
  --rdp-accent-color-dark: #3451ff;
  --rdp-background-color-dark: #e7edff;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 2px solid var(--rdp-accent-color);
  margin: 0;
}

.rdp-day_selected:hover:not([disabled]) {
  background: linear-gradient(to right, #00C2CB, #2940D3);
  color: white;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: #f3f4f6;
  color: #111827;
}